.paginaton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
}

.paginaton-container button {
  padding: 8px 12px;
  background-color: white;
  border: none;
  font-size: 20px;
  transition: background-color 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginaton-container button:hover:not(:disabled) {
  cursor: pointer;
  transform: scale(1.1);
}

.paginaton-container button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.current-page {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 14px;
  color: black;
}
