.Toastify__toast--error {
  background: #fd4d4d !important;
  color: #fff !important;
  font-weight: 400;
  border-radius: 24px !important;
}
.Toastify__toast--success {
  background: #099a45 !important;
  color: #f0fff4 !important;
  font-weight: 400;
  border-radius: 24px !important;
}
